*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.body1{
    margin: 100px;
    border: 4px solid black;
    border-radius: 20px;
    position: relative;


    
}

h2{
    text-align: center;
   padding: 10px;
    text-transform: uppercase;
    background-color: grey;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
li{
    margin-left: 20px;
    padding: 10px;
}
h3{
    text-transform:uppercase;
}
strong{
    font-size: 30px;
}
#transfer{
    text-transform: uppercase;
    margin-bottom: 20px;
    color: rgb(101, 105, 105);
    font-size: 15px;
    
}
.sale{
    font-size: 12px;
    color: white;
    background-color: red;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
    position: absolute;
    top: -15px;
    left: -15px;
    letter-spacing: 5px;
    border-radius: 5px;
}
#detail{
    margin-bottom: 10px;
    clear: both;
}
h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
button{
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    
    
}
.more-info:hover{
    color: green;
    text-decoration: solid;

}
.more-info{
    display: inline-block;
    margin-bottom: 20px;
}
li:hover{
    color: aqua;
}
button:hover{
    color: aqua;
    cursor: pointer;
}
button:active{
    color: aquamarine;
    cursor: wait;
}
img:hover{
    cursor: zoom-in;
}
.one{
    padding: 10px;
    background-color: red;
    

}
.two{
    background-color: yellow;
    padding: 10px;
}
.three{
    background-color: blue;
    padding: 10px;
}
.four{
    background-color: rgb(244, 142, 17);
    padding: 10px;
}
.five{
    background-color: rgb(197, 38, 254);
    padding: 10px;
}
.boxes{

    display: relative;
}
.one, .two, .three ,.four ,.five{
    display: inline-block;
    margin-right: 12px;
    margin-top: 15px;
}
img{
    float: left;
    margin-right: 40px;
}
.info{
   
    margin-top: 30px;
    float:left;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
}
.details{
    float: right;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
}
.makebox{
    width: 130px;
    float: left;
}
#transfer{
    float: right;
}